spring:
  datasource:
    url: jdbc:mysql://localhost:3306/embarkx_quiz_app?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: Sayan@CSE2004@Sayan
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: ${MAIL_USERNAME:your-email@gmail.com}
#    password: ${MAIL_PASSWORD:your-password}
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: false

logging:
  level:
    root: INFO
    com.quiz app: DEBUG